html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.errormsg {
  color: red;
}

.personnage {
  color: darkgreen;
  text-decoration-style: wavy;
  text-align: center;
  text-shadow: cadetblue;
}

.texte {
  color: blue;
}

.reponse {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: orangered;
}

.textOrg {
  color: darkblue;
}

.triche {
  font-style: italic;
  font-family: fantasy;
}

.record {
  height: 80px;
  width: 80px;
  background-image: url(https://raw.githubusercontent.com/cfouard/theatre/master/icons/rec.png);
}

.parlez {
  height: 100px;
  width: 100px;
  background-image: url(https://raw.githubusercontent.com/cfouard/theatre/master/icons/parler-100x100.png);
}

.stop {
  height: 80px;
  width: 80px;
  background-image: url(https://raw.githubusercontent.com/cfouard/theatre/master/icons/stop.png);
}
.regardez {
  height: 100px;
  width: 100px;
  background-image: url(https://raw.githubusercontent.com/cfouard/theatre/master/icons/regarder-100x100.png);
}

.restart {
  height: 80px;
  width: 80px;
  background-image: url(https://raw.githubusercontent.com/cfouard/theatre/master/icons/play.png);
}

.ecoutez {
  height: 100px;
  width: 100px;
  background-image: url(https://raw.githubusercontent.com/cfouard/theatre/master/icons/ecouter-100x100.png);
}
