html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.errormsg {
  color: red;
}

.personnage {
  color: darkgreen;
  text-decoration-style: wavy;
  text-align: center;
  text-shadow: cadetblue;
}

.texte {
  color: blue;
}
